:root {
  --color-bg: #0f172a;
  --color-surface: #1e293b;

  --color-primary: #3b82f6;
  --color-accent: #22d3ee;

  --color-text: #e2e8f0;
  --color-text-muted: #94a3b8;
}

*{
  margin:0;
  padding:0;
}

body{
  background-color:var(--color-bg);
  color:var(--color-text);
  font-family:sans-serif;
}

input:focus, textarea:focus{
  border-color:salmon;
}

.container{
  width:600px;
  margin:80px auto;
}
.container h1{
  text-align:center;
  margin:20px;
}
form{
  box-sizing:border-box;
  background-color:var(--color-surface);
  width:100%;
  padding:20px;
}

label:not(.radio-group label, label[for="position"]){
  display:block;
  width:100%;  
  font-size:1.2rem;
}
input:not(input[type="radio"]){
  display:block;
  width:100%;
  margin-bottom:8px;
  cursor:pointer;
  height:24px;
  border:2px solid salmon;
}
select{
  cursor:pointer;
  padding:4px 8px;
}
.radio-group{
  padding:12px;
}

.radio-group + label{
  margin-top:8px;
}
textarea{
  box-sizing:border-box;
  width:100%;
  height:80px;
  padding:8px 8px;
  margin-top:8px;
  border:2px solid salmon;
}
button{
  display:block;
  width:60%;
  margin:12px auto;
  font-size:1.2rem;
  font-weight:bold;
  padding:8px;
  cursor:pointer;
}
button:hover{
  background-color:olive;
}
input:invalid, select:invalid, textarea:invalid{
  border:red;
}
input:valid, select:valid, textarea:valid{
  border:green;
}

.radio-group input[type="radio"]{
  appearance: none;
  width:16px;
  height:16px;
  vertical-align: middle;
  background-color:white;
  cursor:pointer;
}
.radio-group input[type="radio"]:checked{
  border:1px solid black;
  background-color:salmon;
  box-shadow: 2px 2px 5px black;

}

.radio-group input[type="radio"]:checked + label {
  color:salmon;
}

input:first-of-type{
  border-radius:2px;
}