:root {
  --color-bg: #0f172a;
  --color-surface: #1e293b;

  --color-primary: tomato;
  --color-accent: #22d3ee;

  --color-text: #e2e8f0;
  --color-text-muted: #94a3b8;
}

*{
  margin:0px;
  padding:0px;
}

body{
  background-color:var(--color-bg);
  color:var(--color-text);
  font-family:Monospace;
  font-size:1.2rem;
}

.form-container{
  width:400px;
  background-color:var(--color-surface);
  margin:80px auto;
  padding:20px;
  border-radius:4px;
}
.form-container h2{
  text-align:center;
}

.form-container hr{
  margin:8px 0 20px;
}

label{
  display: block;
  margin:12px 0 8px;
  color:whitesmoke;
}

input{
  box-sizing:border-box;
  width:100%;
  height:24px;
  margin-bottom:5px;
  padding:4px 8px;
}

textarea{
  box-sizing:border-box;
  width:100%;
  height:100px;
  padding:4px 8px;
  margin-bottom:4px;
}

button{
  width:100%;
  cursor:pointer;
  padding:8px;
  margin: 12px 0 0 0;
  font-weight:bold;
  font-size:1.2rem;
  background-color:var(--color-primary);
}

button:hover{
  background-color:olive;
}

.form-container p{
  font-size:1rem;
  color:gray;
  text-align:center;
}