body{
  background-color:rosybrown;
  font-family: Arial, sans-serif;
}

.business-card{
  width:300px;
  background-color:#F6E7D2;
  padding: 20px;
  margin-top: 100px;
  text-align:center;
  font-size:16px;
  margin-left: auto;
  margin-right:auto;
  border: 2px solid black;
}

.profile-image{
  max-width:100%;
  border: 1px solid black;
}
.full-name{
  color:black;
  font-weight: 600;
}
.company{
  color:grey;
}
p{
  margin: 5px 0px;
}
h2{
  font-size:20px;
}
a {
  text-decoration:none;
  margin: 0px 8px;
  color:RebeccaPurple ;
}