/* *{
  outline:1px solid red;
  background-color: rgba(0, 0, 255, 0.04);
} */

html {
  background-color: white;
}
body {
  padding: 50px 20px;
  margin: 0px auto;
  width: 80vw;
  min-height: calc(100vh - 100px);
  border: 1px solid black;
  background-color: wheat;
}
header {
  text-align: center;
}
hr {
  width: 90%;
}

main {
  display: flex;
  justify-content: space-between;
}
main h2 {
  text-align: center;
  text-decoration: 2px underline;
}

section {
  width: 45%;
  border: 1px solid black;
  padding: 0px 8px;
}

footer {
  text-align: center;
}
