
*{
  margin:0;
  padding:0;
}

body{
  background-color:white;
  color:black;
  font-family:serif;
}

h1{
  text-align:center;
  margin-top:80px;
}
.pricing-container{
  display:flex;
  flex-wrap:wrap;
  gap:12px;
  max-width:800px;
  margin:20px auto;
  padding:20px 20px;
  border:2px solid black;
}

.pricing-card{
  display:flex;
  flex: 0 0 200px;
  flex-direction:column;
  justify-content:space-between;
  border: 2px solid black;
  padding:8px 12px;
  transition:all 0.3s;
}

.pricing-card:hover{
  transform:scale(1.05);
}
.pricing-card h2,
.pricing-card p{
  text-align:center;
}
.pricing-card hr{
  margin:8px;
}
.basic-plan{
  order:0;
}

.pro-plan{
  order:1;
  flex-grow:2;
  background-color:aliceblue;
}

.premium-plan{
  order:2;
}

ul{
  list-style-position:inside;
}

li::marker{
  content:"✓";
  color:green;
}

li.unchecked::marker{
  content:"✗";
  color:red;
}

button{
  margin: auto;
  margin-top:12px;
  max-width:80%;
  padding:8px;
  font-weight:bold;
  cursor:pointer;
  background-color:orange;
}

button:hover{
  opacity:0.9;
  box-shadow:0px 0px 5px black;
}