body{
  background-color:aliceblue;
}

.blog-post-card{
  background-color:white;
  border-radius: 4px;
  width:300px;
  margin: 100px auto;
  text-align:center;
  border:1px solid black;
  box-shadow: 3px 3px 5px;
}

.post-img{
  width:100%;
  border-bottom: 2px solid black;
}
.post-content{
  padding:4px;
}
.post-title{
  color:maroon;
  margin:4px 10px;
}

.post-excerpt{
  color:olive;
  margin:4px 10px;
}

.read-more{
  text-decoration:none;
  color: black;
  background-color: salmon;
  padding: 6px 12px;
  margin: 12px;
  border-radius: 2px;
  display:inline-block;
}

.read-more:hover{
  background-color:cyan;
}