:root {
  --color-bg: #0f172a;
  --color-surface: #1e293b;

  --color-primary: #3b82f6;
  --color-accent: #22d3ee;

  --color-text: #e2e8f0;
  --color-text-muted: #94a3b8;
}

*{
  margin:0;
  padding:0;
}

body{
  background-color:white;
  color:black;
  font-family:serif;
}

#email{
  background-color:SeaShell;
  box-sizing:border-box;
  padding:50px;
  margin:50px auto;
  width:500px;
  min-height:400px;
  border:2px solid black;
}
#email p{
  margin-bottom:16px;
}
#confidential, #top-secret{
  display:inline-block;
  padding:12px 20px;
  margin-left:4px;
  border:3px solid red;
  color:red;
  font-weight:bold;
  font-size:1.2em
}

#confidential{
  transform:translate(110px, 0px)rotate(-20deg);
}
#top-secret{
  transform: translate(20px, 250px) rotate(20deg);
}

.blurred{
  filter:blur(3px);
}